{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
        <div>
            <p>
                {{ target_user.date_joined }}
            </p>
            {% if target_user.profile %}
                <img src="{{ target_user.profile.image.url }}" alt=""
                 style="height: 12rem; width: 12rem; border-radius: 20rem; margin-bottom: 2rem;">
            {% else %}
                <img src="/static/img/default_user_img.jpg" alt=""
                 style="height: 12rem; width: 12rem; border-radius: 20rem; margin-bottom: 2rem;">
            {% endif %}

            <div>
            {% if target_user.profile %}
                {% if target_user.profile.nickname %}
                    <h2 style="font-family: 'NanumSquareB'; ">
                        {{ target_user.profile.nickname }}
                        {% if target_user == user %}
                            <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}"
                                class="material-icons" style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;"> edit </a>
                        {% endif %}
                    </h2>
                {% else %}
                    <h2 style="font-family: 'NanumSquareB'; ">
                        닉네임 미설정
                    </h2>
                {% endif %}
            {% else %}
                {% if target_user == user %}
                    <h2 style="font-family: 'NanumSquareB'; ">
                        <a href="{% url 'profileapp:create' %}">Create Profile</a>
                    </h2>
                {% endif %}
            {% endif %}
            </div>

            <h5 style="margin-bottom: 3rem; ">
                {{target_user.profile.message}}
            </h5>
            {% if target_user == user %}
                <a href="{% url 'accountapp:update' pk=target_user.pk %} "
                   class="material-icons" style="box-shadow: 0 0 4px #0F0; border-radius: 10rem; padding: .4rem;">
                        settings
                </a>

                <a href="{% url 'accountapp:delete' pk=target_user.pk %} "
                   class="material-icons" style="box-shadow: 0 0 4px #f00; border-radius: 10rem; padding: .4rem;">
                        cancel
                </a>
            {% endif %}
        </div>
    </div>
    {% include 'snippets/list_fragment.html' with article_list=object_list %}
{% endblock %}
